.custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    mix-blend-mode: difference;
    opacity: 0;
    .cursor-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .cursor-circle {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $grey_ultralight;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out;
        }
        .cursor-label {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            transform: translate(-50%, -50%);
            color: $grey_ultralight;
            font-size: 1rem;
            text-align: center;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        .cursor-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            img {
                width: 50px;
                display: block;
            }
        }
        .cursor-drag {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            transition-delay: 0.2s;
            .arrow-right {
                width: 0;
                height: 0;
                position: absolute;
                z-index: 1;
                border-width: 6px;
                border-style: solid;
                border-color: transparent;
                border-left-color: $grey_dark;
                right: -40px;
                top: 50%;
                transform: translateY(-50%);
                transition: right 0.2s ease-in-out;
            }
            .arrow-left {
                width: 0;
                height: 0;
                position: absolute;
                z-index: 1;
                border-width: 6px;
                border-style: solid;
                border-color: transparent;
                border-right-color: $grey_dark;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
                transition: left 0.2s ease-in-out;
            }
        }
    }
    &.active {
        .cursor-circle {
            transform: scale(3);
        }
    }
    &.has-label, &.has-drag {
        mix-blend-mode: initial;
        .cursor-circle {
            background-color: $grey_dark;
        }
        .cursor-label {
            opacity: 1;
        }
        .cursor-icon {
            opacity: 1;
        }
        .cursor-drag {
            opacity: 1;
        }
    }
    &.active.has-label {
        .cursor-circle {
            transform: scale(6);
        }
    }
    &.active.has-drag {
        .cursor-circle {
            transform: scale(2);
            border-color: $grey_dark;
            background-color: transparent;
        }
    } 
}

.is-draggy .custom-cursor .cursor-content .cursor-drag {
    .arrow-left {
        left: -45px;
    }
    .arrow-right {
        right: -45px;
    }
}