.intro {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: $grey_dark;
    .intro-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        .wrap-content {
            position: absolute;
            color: #fff;
            text-align: center;
            overflow: hidden;
            opacity: 0;
            .name {
                font-family: $font_butler_black;
                font-size: 10rem;
            }
            .job {
                overflow: hidden;
                .title {
                    font-family: $font_butler_medium;
                    font-size: 5rem;
                }
                .baseline {
                    overflow: hidden;
                }
            }
            .char {
                will-change: transform;
            }
        }
    }
}