.intro-cursor {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    mix-blend-mode: difference;
    opacity: 0;
    visibility: hidden;
    .cursor {
        position: absolute;
        width: 80px;
        height: 80px;
        .circle-line {
            stroke: rgba(255, 255, 255, 0.4);
            fill: none;
            stroke-width: 0.5;
        }
        .circle-line-progress {
            fill: none;
            stroke-width: 3;
            stroke: #fff;
        }
        .cursor-txt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            color: #fff;
        }
    }
}