{% block html_head_container %}
    {% include 'layout/html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}">
    <div id="app">
        {% block intro %}
            {% include 'home/intro.twig' %}
        {% endblock %}
        {% block header %}
            <header class="header">
                <a class="logo" href="{{site.url}}"><img src="{{custom_logo_url}}"/></a>
                <nav id="nav-main" class="nav-main">
                    {% include "layout/menu.twig" with {'items': menu.get_items} %}
                </nav>
            </header>        
        {% endblock %}
		{% block content %}
        {% endblock %}
	</div>

    {% block footer %}
        <footer>
            {% include 'layout/footer.twig' %}
        </footer>
	    {{ function('wp_footer') }}
    {% endblock %}    
</body>

</html>