{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="single-project">
    <div class="sections">
        <div class="wrap-transition">
            <div class="transition-block"></div>
            <div class="transition-block"></div>
            <div class="transition-block"></div>
            <div class="transition-block"></div>
        </div>
            <div class="last-works">
                {% include "home/last-works.twig" %}
            </div>
            <div class="parts" data-scroll-container>
                <div class="scroll-content" data-scroll-section data-scroll-section-id="section0" data-scroll-section-inview>
                    <section class="part-webdesign" data-scroll data-scroll-repeat data-scroll-offset="10,50%" data-scroll-target=".wrap-content">
                        {% include "home/sections/webdesign.twig" %}
                    </section>
                    <section class="part-all-works"data-scroll data-scroll-delay="0.5" data-scroll-offset="10" data-scroll-target=".wrap-picture">
                        {% include "home/sections/all-works.twig" %}
                    </section> 
                </div>         
            </div>
    </div>
</div>
{% endblock %}
{# {% block footer %}
	    {{ function('wp_footer') }}
{% endblock %} #}