{% extends "base.twig" %}

{% block content %}
    <div class="sections">
        <div class="last-works">
            {% include "home/last-works.twig" %}
        </div>
        <div class="parts">
            <div class="scroll-content" data-scroll-container>
                <section class="part-webdesign" data-scroll-section data-scroll-section-id="webdesign">
                    {% include "home/sections/webdesign.twig" %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}