body {
    background-color: #f1f1f1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: $font_poppins;
}

h1 {
    font-family: $font_butler_medium;
    font-size: 3rem;
}