.part-webdesign {
    background-color: #fff;
    .wrap-content {
        color: $grey_dark;
        position: relative;
        overflow: hidden;
        color: #fff;
        transition: color .9s ease-in-out;
        .title {
            padding-top: 15rem;
            font-family: $font_butler;
            font-size: 22rem;
        }
        .wrap-subtitle {
            position: absolute;
            right: 0;
        }
        .subtitle {
            display: block;
            font-size: 8rem;
            font-weight: 600;
            line-height: 1;
            -webkit-text-stroke-color: #000000;
            -webkit-text-stroke-width: 1px;
            color: transparent;
        }
        .wrap-desc {
            position: relative;
            margin-bottom: 10rem;
            .bg-txt {
                display: inline-block;
                position: absolute;
                top: 0;
                font-family: $font_butler;
                font-size: 22rem;
                color: $grey_medium;
                line-height: 1;
                z-index: -1;
                transition: color .6s ease;
                transition-delay: .3s;
            }
        }
        .desc {
            padding-top: 5rem;
            max-width: 70%;
            font-size: 3rem;
            font-weight: 300;
        }
        &.is-light {
            color: $grey_dark;
            .wrap-desc {
                .bg-txt {
                    color: $grey_ultralight;
                }
            }
        }
    }
    .draggy-container {
        width: 100%;
        height: 555px;
        margin: auto;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: none;
    }
    .draggy-inner {
        position: relative;
        top: 0;
        height: 100%;
        width: -moz-fit-content;
        width: fit-content;
    }
    .draggable {
        height: 555px;
        top: 0;
        width: 100%;
        position: absolute;
    }
    .draggy {
        height: 100%;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        align-items: start;
        position: relative;
        pointer-events: none;
    }
    .draggy-item {
        height: 555px;
        width: 220px;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
    }
    .draggy-img-outer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex: none;
    }
    .draggy-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bg-dark {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $grey_dark;
        z-index: -1;
        opacity: 1;
    }
}