<div class="container">
    <div class="wrap-link">
        <div class="inner-link" data-scroll>
            <div class="word-works"><span class="word-1">Voir</span><span class="word-2">plus de</span><span class="word-3">projet</span></div>
            <div class="link-works"><a class="link" href="#"><img src="../../../images/long-arrow.svg"></a></div>                            
        </div>
    </div>
</div>
<div class="footer" data-scroll data-scroll-target=".wrap-link">
    <div class="container">
        <div class="footer-content">
            <span>© HL Developerz {{"now"|date('Y')}}. Tous droit réservés</span>
                <ul class="footer-social">
                    <li><a class="link-underline" href="mailto:contactme@hl-developerz.com">contact</a></li>
                    <li><a class="link-underline" href="https://www.linkedin.com/in/hugues-leger-developpeur-web" target="_blank" rel="noopener noreferrer">linkedin</a></li>
                    <li><a class="link-underline" href="https://www.facebook.com/hldeveloppeurweb" target="_blank" rel="noopener noreferrer">facebook</a></li>
                    <li><a class="link-underline" href="https://www.instagram.com/onepale" target="_blank" rel="noopener noreferrer">instagram</a></li>
                </ul>
        </div>
    </div>
</div>