<div class="bg-dark"></div>
<div class="container">
    <div class="wrap-content">
        <div class="content-title">
            <h2 class="title" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-9" data-scroll-target=".content-title">{{post_webdesign.webdesign_title}}</h2>
        </div>
        <div class="wrap-subtitle">
            <span class="subtitle">ILLU<br>STRA<br>TION</span>
        </div>    
        <div class="wrap-desc">
            <span class="bg-txt" data-scroll data-scroll-direction="horizontal" data-scroll-speed="1" data-scroll-delay="1.5" data-scroll-target=".wrap-content">Intégration</span>
            <div class="desc" data-scroll data-scroll-speed="2" data-scroll-target=".wrap-content">
                <p>{{post_webdesign.webdesign_description}}</p>
            </div>
        </div>
        <div class="wrap-picture" data-observer>
            <div class="draggy-container" data-cursor-drag>
                <div class="draggy-inner">
                    <div class="draggable"></div>
                    <div class="draggy">
                    {% for i, item in post_webdesign.meta('webdesign_items') %}
                        <div class="draggy-item">
                            <div class="draggy-img-outer">
                                <img class="draggy-img" src="{{item.webdesign_thumb}}">
                            </div>
                        </div>
                    {% endfor %}    
                    </div>
                </div>
            </div>           
        </div>     
    </div>  
</div>