<div class="intro">
    <div class="intro-cursor">
        <div class="cursor">
            <svg height="80" width="80" id="loaderEnter">
                <circle class="circle-line" cx="50%" cy="50%" r="30" stroke-dasharray="200"/>
                <circle class="circle-line-progress" cx="50%" cy="50%" r="30" stroke-dasharray="10px 200px"/>
            </svg>
            <div class="cursor-txt">Enter</div>
        </div>
    </div>
    <div class="intro-content">
        <div class="wrap-content content-name">
            <div class="name">
                <span data-splitting>Hugues Leger</span>
            </div>      
        </div>
        <div class="wrap-content content-job">
            <div class="job">
                <div class="title">
                    <h1 data-splitting>Créatif Développeur</h1>
                </div>
                <div class="baseline">
                    <span data-splitting>Web design & Front-end</span>
                </div>
            </div>          
        </div>
    </div>
</div>