<div class="col-work work-title">
    <div class="title-content">
        <h2 class="title">Derniers Projets</h2>
        <h3 class="subtitle">C'est tout frais, voici mes dernières réalisations.</h3>
    </div>
</div>
<div class="col-work work-slider">
    <div class="slider-item">
        <img class="thumb" src="../../images/img-1.jpg" alt="">
    </div>
    <div class="slider-item">
        <img class="thumb" src="../../images/img-2.jpg" alt="">
    </div>
    <div class="slider-item">
        <img class="thumb" src="../../images/img-3.jpg" alt="">
    </div>
    <div class="slider-item">
        <img class="thumb" src="../../images/img-4.jpg" alt="">
    </div>         
</div>
<div class="col-work work-items">
    <div class="item-title">
        <h3 class="title active" data-splitting>Easy Music Project</h3>
    </div>
    <div class="item-title">
        <h3 class="title" data-splitting>Viz 360</h3>
    </div>
    <div class="item-title">
        <h3 class="title" data-splitting>Test 3</h3>
    </div>
    <div class="item-title">
        <h3 class="title" data-splitting>Test 4</h3>
    </div>                   
</div>
<div class="col-work"></div>
<div class="col-work work-pagination">
    <div class="pagination">
        <div class="pagination-number pagination-number-first">01</div>
            <div class="pagination-bar">
                <div class="bar-line"></div>
            </div>
        <div class="pagination-number pagination-number-last">04</div>    
    </div>
</div>